@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 62, 5%;
} */
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #6008c4;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
}
body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: all 0.3s ease;
}
/* mode dark */
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
/* }
*::-webkit-scrollbar {
  display: none;
} */
/* == CHATPAGE COMPONENT STYLE == */
/* .ce-chat-engine {
  height: 100vh;
  text-align: left;
} */
/* .ce-wrapper {
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: normal;
  justify-content: flex-start;
} */
/* =====  CHATUSERLIST STYLE ===== */
/* .ce-chat-list-column {
  height: 100%;
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 25%;
  flex: 0 0 6.5%;
  max-width: 25%;
  margin-left: 0%;
  right: auto;
  left: auto;
} */
/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: all 0.3s ease;
  width: 25%;
  z-index: 100;
  filter: none !important;
} */
/* .close {
  width: 89px;
} */
/* .responsive-list {
  display: none;
} */
.opacity_on {
  opacity: 0.8;
  filter: blur(3px);
}
/* ===== content ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}
.sidebar .icon {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: all 0.3s ease;
}
.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* ============== header avatar============= */
.sidebar header {
  position: relative;
}
.sidebar header .image-text {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: linear-gradient(to right, #9e74b8, #b889ce, #c295ce, #c5a9ce);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}
body.dark .sidebar header .toggle {
  color: var(--text-color);
}
.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu {
  margin-top: 20px;
}
.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}
.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}
.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}

/* .sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}
.menu-bar .mode .sunMoon {
  height: 50px;
  width: 60px;
}

.mode .sunMoon i {
  position: absolute;
}
.mode .sunMoon i.sun {
  opacity: 0;
}
body.dark .mode .sunMoon i.sun {
  opacity: 1;
}
body.dark .mode .sunMoon i.moon {
  opacity: 0;
}
.st {
  height: 0px;
}
.menu-bar .bottom-content .toggle-switch {
  position: absolute;

  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggleSwitch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: rgb(221, 221, 221);
  transition: var(--tran-05);
} */
/* .switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
} */
/* body.dark .switch::before {
  left: 20px;
} */

/* == END CHATUSERLIST STYLE === */

/* CHAT FEED COLUMN COMONENT STYLE  */
/* .ce-chat-feed-column {
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 50%;
  flex: 1 0 0;
  margin-left: 0%;
} */
/* .ce-chat-feed {
  height: 100%;
  max-height: 100vh;
  background-color: rgb(240, 240, 240);
} */
/* == CHATTITLE COMPONENT STYLE == */

.ce-chat-title {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: normal;
  justify-content: flex-start;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.ce-chat-title-container {
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  padding: 18px 0px;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: 0%;
  right: auto;
  left: auto;
  text-align: center;
  color: white;
  overflow-x: hidden;

  background: linear-gradient(to right, #6905bb, #0551a8, #3800a0, #865fea);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.ce-chat-title-container span {
  display: none;
}

#ce-chat-feed-title-persist {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}
.ce-chat-subtitle-text {
  color: rgba(218, 209, 209, 0.7) !important;
  font-size: 15px;
}
.ce-feed-container-top {
  height: 90px;
}
/* == END CHATITLE COMPONENT STYLES ==  */

/* == MESSAGE COMPONENT STYLE == */

.ce-message-date-text {
  width: 100%;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
#ce-message {
  padding-bottom: 300px;
}
.ce-my-message-bubble-row {
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: normal;
  justify-content: flex-start;
  padding-right: 2px;
}
.message-sender {
  font-weight: 500;
}

.Time-st {
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: 0%;
  right: auto;
  left: auto;
}
.ce-my-message-timestamp {
  padding: 5px;
  color: rgba(27, 24, 27, 0.3);
  font-size: 0.65rem;
}
.false {
  position: relative;
  margin-bottom: 10px;
  float: right;
  padding: 1px 8px;
  background: linear-gradient(
    to right,
    #b593da,
    #c7a6dc,
    #d1b1df,
    #e2b8ed,
    #eac7f3
  );
  width: max-content;
  height: auto;
  max-width: 65%;
  text-align: left;
  box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 16px;
}
.false:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #b593da;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}

.T1 {
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 25%;
  flex: 0 0 25%;
  max-width: 25%;
  margin-left: 0%;
  right: 20px;
}
.ce-my-reads-row {
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: 0%;
  right: auto;
  left: auto;
}
.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}
.ce-my-message-timestamp {
  padding: 5px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 36px);
  padding: 18px;
  background-color: rgb(240, 240, 240);
}
.dot2 {
  border-radius: 13px;
  box-shadow: 0, 10, 15, rgb(11, 10, 10);
  text-align: center;
  transition: all 0.33s ease 0s;
  float: right;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px;
  width: 30px;
  height: 30px;
  background-image: url("./03.jpg");
}
#ce-feed-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden scroll;
  background-color: rgb(225, 223, 223);
}
/* END MESSAGE COMPONENT  */
/* CHAT FORM  MESSAGE COMPONENT STYLES   */

textarea {
  resize: none;
  height: 10vh;
  width: 65vw;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
  white-space: pre-line;
  padding: 0.8rem 60px;
  padding-bottom: 0px;
  border: 0;
  border-radius: 30px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.8);
  background-color: rgb(242, 241, 241);
  border: 0;
  transition: box-shadow 0.5s ease;
  scrollbar-width:none;
}
textarea:focus {
  outline: none;
}
textarea:valid {
  font-weight: 400;
  box-shadow: none;
  color: #18191a;
  letter-spacing: 1px;
}
.anticon-paper-clip {
  position: relative;
  bottom: calc(1vh - 16%);
  right: -45px;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  color: rgb(132, 129, 129);
  font-size: 25px;
  transform: rotate(140deg);
}

#msg-form-container {
  position: fixed;
  bottom: 0px;
  width: calc(69% - 5px);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
#ce-send-message-button {
  cursor: pointer;
  display: inline-block;
}
.anticon-arrow-up {
  color: #3800a0;
  font-size: 25px;
}
.hideIcon {
  visibility: hidden;
}
.send_icon {
  font-size: 1.5rem;
}
/*  END CHAT FORM MESSAGE COPMONENT STYLES  */

/* END CHAT FEED COLUMN  COMPONENT STYLES  */

/*  CHAT SETTING COMPINENT STYLE  */

.courseTitle {
  display: flex;
  justify-content: center;
}
.title_in {
  background: linear-gradient(to right, #6905bb, #0551a8, #3800a0, #096ab9);
  box-shadow: 0px 5px 5px rgba(30, 28, 28, 0.3);
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  width: 20vw;
  letter-spacing: 1px;
  align-self: center;
  border-radius: 22px;
  margin-bottom: 10px;
}
.ce-text-input {
  height: 36px;
  font-size: 16px;
  outline: currentcolor none medium;
  border-radius: 24px;
  border: 0px solid white;
  padding: 0px 12px;
  box-sizing: border-box;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.ce-send-button-container {
  position: relative;
  left: calc(-4vw);
  bottom: calc(1vh - 12px);
  padding-right: 15px;
}
.ce-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 48px;
}
.ce-avatar-text {
  color: white;
  padding-top: 12px;
  font-size: 15px;
  font-weight: 600;
}
.a1 {
  width: 48px;
  height: 48px;
}
.member {
  border-top: 1px solid rgb(240, 240, 240);
  transition: all 100ms ease 0s;
}
.memin {
  border-top: 1px solid rgb(240, 240, 240);
  transition: all 100ms ease 0s;
}
.ce-person-title-container {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 4s;
}
.member {
  height: 33%;
}

.list-container {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  scrollbar-width: none;
  overflow-y: scroll;
  min-height: 0px;
  height: 300px;
}
.show::-webkit-scrollbar {
  display: none;
}

.show {
  height: 300px;
}
.hidden {
  height: 0;
}
.list-p {
  font-size: 17px;
  padding: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
}
.anticon-left {
  float: right;
  position: relative;
  bottom: 40px;
  color: #442b9d;
  right: 12px;
  transition: transform 100ms ease 0s;
}
.ce-person-avatar {
  padding: 4px;
  height: 0px;
}
.ce-person-container {
  padding: 10px 13px;
  cursor: pointer;
}
.ce-person-text {
  padding-left: 52px;
  height: 44px;
  position: relative;
  top: 10px;
  font-size: 15px;
}
.ce-autocomplete-input {
  height: 36px;
  border: 0;
  font-size: 13px;
  padding: 0px 12px;
  width: 100%;
}

.ce-photo-section {
  border-top: 0.5px solid rgb(240, 240, 240);
}
.ce-photo-title-container {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: background-color 100ms ease 0s;
}

.ce-settings-column {
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 25%;
  flex: 0 0 25%;
  max-width: 25%;
  margin-left: 0%;
  right: auto;
  left: auto;
}

.ce-settings {
  height: 100%;
  overflow: scroll;
  border-left: 1px solid rgb(175, 175, 175);
  scroll-behavior: smooth;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(30, 28, 28, 0.3);
  scrollbar-width: none;
}

.ce-settings-container {
  width: 90%;
  padding-left: 5%;
}
.textPhoto {
  font-size: 17px;
  padding: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}
.ce-avatar-status {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid white;
  background-color: rgb(245, 34, 45);
}
#ce-options-drop-down {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: background-color 100ms ease 0s;
}
.opText {
  font-size: 17px;
  padding: 12px;
  font-weight: 600;
}

.ce-autocomplete-input {
  resize: none;
  box-shadow: 0px 5px 5px rgba(30, 28, 28, 0.6);
  border-bottom: 1px solid #492a50 !important;
}
.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}
.ce-chat-settings-container {
  padding-top: 12px !important;
}
.ce-chat-avatars-row {
  display: none !important;
}
.menue--circle {
  display: none;
}
.responsive-setting {
  display: none;
}
.responsive-ti {
  display: none;
}
.closeMenueIcon {
  display: none;
}
.ops {
  height: 100vh;
  position: fixed;
  width: calc(69vw - 5px);
}

.rotate {
  transform: rotate(-90deg);
}
/* == END CHAT SETTING == */
/*  == RESPONSIVE MEDIA QUERY == */
@media only screen and (max-width: 600px) {
  .ce-chat-title-container {
    height: 100px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .closeMenueIcon {
    display: flex;
    justify-content: flex-end;
  }
  .responsive-ti {
    display: flex;
    text-align: center;
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;
  }
  .responsive-ti .image img {
    margin-left: 0px;
    width: 63%;
    height: 10vh;
    margin-right: 0;
    border-radius: 40px;
  }

  .responsive-ti #ce-chat-feed-title-persist {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  /* ==CLOSING MENUE AND CHANNAL INFO */
  .responsive-close {
    color: rgb(154, 153, 153);
    justify-self: flex-end;
    cursor: pointer;
  }
  .responsive-ti .image {
    margin: 0;
  }
  .setting_icon {
    margin: 5px;
    position: absolute;
    top: -15;
    right: 10px;
    height: 10px;
    color: rgb(154, 153, 153);
    z-index: 1000;
    transition: all 0.2 linear;
  }
  .setting_icon:hover {
    color: whitesmoke;
  }
  .ce-chat-title-container span {
    display: flex;
    justify-content: end;
    cursor: pointer;
  }
  .ce-chat-list-column {
    display: none;
  }
  .ce-settings-column {
    display: none;
  }
  #msg-form-container {
    width: 100%;
    height: max-content;
  }
  /* textarea {
    width: 95vw;
    font-size: 13px;
    padding-top: 2.8%;
  } */
  .ce-chat-feed-column {
    width: 100vw;
    height: 100vh;
  }
  .design {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    bottom: 10px;
    z-index: 10;
  }
  .total_res {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  textarea{
  width: 90vw;

  }
  .image img {
    width: 45%;
    height: 10vh;
    margin-left: 40px;
    margin-right: 10px;
    border-radius: 45px;
  }
  .title_in {
    font-size: 10px;
  }
  .ce-chat-subtitle-text {
    font-size: 10px;
  }
  .ce-message-date-text {
    padding-top: 10px;
    font-size: 10px;
  }
  .false {
    font-size: 14px;
  }
  #ce-chat-feed-title-persist {
    padding-left: 10px;
  }
  .ce-send-button-container {
    left: -10vw;
    font-size: 10px;
  }
  .anticon-arrow-up {
    font-size: 10px;
  }
  .responsive-list {
    position: fixed;
    top: 0px;
    left: auto;
    width: 250px;
    right: 0px;
    display: flex;
    justify-content: end;
    background-color: #f2f0f5;
    z-index: 1000;
    transition: all 0.5s ease;
  }

  .hiddenList {
    right: -999px;
  }
  .showList {
    right: 0px;
  }
  .hiddenSetting {
    height: 0;
  }

  .showSetting {
    display: flex;
    position: fixed;
    flex-direction: column;
    font-size: 15px;
    height: 85%;
    top: 8%;
    width: 65vw;
    right: 15vw;
    z-index: 1000;
    border-radius: 50px;
  }

  .sidebar .text {
    font-size: 13px;
  }
  .sidebar li.search-box input {
    font-size: 13px;
  }

  /* list */
  .sidebar .icon {
    font-size: 20px;
  }

  .sidebar .setting_icon {
    background-color: red;
  }
  .anticon-paper-clip {
    font-size: 23px;
  }
  .anticon-arrow-up {
    font-size: 20px;
  }
  .courseTitle {
    display: none;
  }
  .ops {
    width: 100vw;
  }
}
